body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.style{
    width: 300px;
    margin: 100px 50px;
    height: 300px;
    float: left;    
}

.virtualSelect {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 3px;
    min-width: 300px;
    background: #fff;    
}
.virtualSelect button, .popUp, .popUp input{
    width: 100%;
    margin: 0;
    padding: 0;
}
.virtualSelect button {
	padding: 8px 10px;
	border: none;
	background: #fff;
	border-radius: 0px;
	cursor: pointer;
	box-shadow: 0px 0px 3px #ddd;	
    font-size: 16px;
    position: relative;
}
.virtualSelect button:focus {
    outline: none;
}
.virtualSelect button span {
	position: absolute;
	width: 35px;
	height: 40px;
	background: #fff;
	top: -3px;
	right: 2px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(90deg);
	border-bottom: 1px solid #efefef;
	color: #efefef;
	padding-bottom: 8px;
	box-sizing: border-box;
}
.virtualSelect button:hover span{
    color: #000;
}
.popUp {
	background: #fff;
	box-shadow: 1px 2px 3px #aaa;
	padding: 5px;
	box-sizing: border-box;
	display: none;
    margin-top: 1px;
    max-height: 400px;
    overflow-y: scroll;
}
.popUp::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(241, 241, 241);
}
.popUp::-webkit-scrollbar-thumb {
    background-color: #ddd;
}
.popUp::-moz-scrollbar {
    width: 6px;
    background-color: rgb(241, 241, 241);
}
.popUp::-moz-scrollbar-thumb {
    background-color: #ddd;
}
.popUp.hasClass{
    display: block;
}
.popUp input {
    /* box-shadow: 1px 1px 2px #888; */
    padding: 6px 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
}
.popUp ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.popUp ul li{
    cursor: pointer;
    padding: 5px 0px 5px 5px;    
}
.popUp ul li:hover{
    background: #fafafa;
}

.popUp ul li img {
    width: 20px;    
    float: right;
}
.popUp ul li b {   
    float: right;
}
.virtualSelect button .item{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.virtualSelect button .item img{
    width: 100%;      
}