body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.style{
    width: 300px;
    margin: 100px 50px;
    height: 300px;
    float: left;    
}

.directorist-select__container {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 3px;
    min-width: 300px;
    background: #fff;    
}
.directorist-select__container button, .popUp, .popUp input{
    width: 100%;
    margin: 0;
    padding: 0;
}
.directorist-select__container button {
	padding: 8px 10px;
	border: none;
	background: #fff;
	border-radius: 0px;
	cursor: pointer;
	box-shadow: 0px 0px 3px #ddd;	
    font-size: 16px;
    position: relative;
}
.directorist-select__container button:focus {
    outline: none;
}
.directorist-select__container button span {
	position: absolute;
	width: 35px;
	height: 40px;
	background: #fff;
	top: -3px;
	right: 2px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(90deg);
	border-bottom: 1px solid #efefef;
	color: #efefef;
	padding-bottom: 8px;
	box-sizing: border-box;
}
.directorist-select__container button:hover span{
    color: #000;
}
.popUp {
	background: #fff;
	box-shadow: 1px 2px 3px #aaa;
	padding: 5px;
	box-sizing: border-box;
	display: none;
    margin-top: 1px;
    max-height: 400px;
    overflow-y: scroll;
}
.popUp::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(241, 241, 241);
}
.popUp::-webkit-scrollbar-thumb {
    background-color: #ddd;
}
.popUp::-moz-scrollbar {
    width: 6px;
    background-color: rgb(241, 241, 241);
}
.popUp::-moz-scrollbar-thumb {
    background-color: #ddd;
}
.popUp.hasClass{
    display: block;
}
.popUp.directorist-select__dropdown-open{
    display: block;
}
.popUp input {
    /* box-shadow: 1px 1px 2px #888; */
    padding: 6px 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
}
.popUp ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.popUp ul li{
    cursor: pointer;
    padding: 5px 0px 5px 5px;    
}
.popUp ul li:hover{
    color: #01e9286c;
}

.popUp ul li img {
    width: 20px;    
    float: right;
}
.popUp ul li b {   
    float: right;
}
.directorist-select__container button .item{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directorist-select__container button .item img{
    width: 100%;      
}
.inputShow{
    display: block;
}
.inputHide{
    display: none;
}

.directorist-select__selected-list{
    display: inline-block;
    background: #ddd;
    padding: 5px;
    margin: 0 3px;
}
.hideListItem {
    background-color: #fff;
}
.showListItem {
    background-color: rgb(199, 6, 6);
}

/* New Style */
.directorist-select.directorist-select-multi .directorist-select__container #directorist-select__label{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    align-items: center;
    padding: 2.5px 15px;
    border-radius: 4px;
    margin: -4px;
    min-height: 35px;
}

.directorist-select.directorist-select-multi .directorist-select__container #directorist-select__label input{
    font-size: 14px;
    border: 0 none;
    width: auto;
    padding: 5px;
}

.directorist-select.directorist-select-multi .directorist-select__container #directorist-select__label input:focus{
    outline: none;
    border: 0 none;
}

.directorist-select.directorist-select-multi .directorist-select__container #directorist-select__label #directorist-select__selected-list{
    display: flex;
    flex-wrap: wrap;
    margin: -4px 6px -4px -4px;
}

.directorist-select.directorist-select-multi .directorist-select__container #directorist-select__label #directorist-select__selected-list,
.directorist-select.directorist-select-multi .directorist-select__container #directorist-select__label .directorist-select__search{
    margin: 0;
}

.directorist-select.directorist-select-multi .directorist-select__container #directorist-select__label #directorist-select__selected-list .directorist-select__selected-list--item{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 5px 8px;
    background-color: #3C3D58;
    border-radius: 4px;
    min-height: 17px;
    margin: 4px;
}

.directorist-select.directorist-select-multi .directorist-select__container #directorist-select__label #directorist-select__selected-list .directorist-select__selected-list--item i{
    color: #fff;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown{
    display: none;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown.directorist-select__dropdown-open{
    display: block;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown{
    background: #fff;
    box-shadow: 0 10px 40px rgb(134 142 174 / 30%);
    padding: 15px;
    box-sizing: border-box;
    margin-top: 2px;
    max-height: 400px;
    overflow-y: auto;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul li{
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul li.showListItem{
    background-color: #F4F5F7;
    border-radius: 4px;
}